<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/main.css">
  <title>SDS</title>
</head>
<body>
  <div class="main-wrapper">
    <div class="layout-content">{{{yield}}}</div>
    <div class="copyright-info">
      <span class="copyright">© Leander Berg 2017</span>
      <span class="github"><a href="github.com/lulebe/sds">Open Source on Github</a></span>
    </div>
  </div>
</body>
</html>